.header {
    position: sticky;
    top: 0;
    background-color: var(--mantine-color-body);
    transition: box-shadow 150ms ease;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: rem(1px) solid
            light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
    }	
}

.zerg {
	background-color: rgba(103, 0, 129, 0.300);
}

.terran {
	background-color: rgba(25, 0, 255, 0.300);
}

.protoss {
	background-color: rgba(252, 193, 0, 0.300);
}

.th {
	text-align: center;
}

.rank {
	max-width: 20px;
	max-height: 20px;
}

.scrolled {
    box-shadow: var(--mantine-shadow-sm);
}


