.header {
    position: sticky;
    top: 0;
    background-color: var(--mantine-color-body);
    transition: box-shadow 150ms ease;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: rem(1px) solid
            light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
    }
}

.zerg {
    background-color: rgba(103, 0, 129, 0.3);
}

.terran {
    background-color: rgba(25, 0, 255, 0.3);
}

.protoss {
    background-color: rgba(34, 182, 42, 0.3);
}

.random {
    background-color: rgba(239, 240, 226, 0.288);
}

.th {
    text-align: center;
}

.rank {
    max-width: 20px;
    max-height: 20px;
    vertical-align: text-top;
}

.rank {
    vertical-align: text-top;
}

.scrolled {
    box-shadow: var(--mantine-shadow-sm);
}

.skeleton {
    display: flex;
    justify-content: center;
    margin: auto;
}

.tableContainer {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.posIndicator {
    width: auto;
    min-width: 20px;
    padding-right: 0;
    white-space: nowrap;
    font-size: 0.8em;
    line-height: 1;
    font-weight: bolder;
    opacity: 0.7;
}

.posIndicator[data-content='▲'] {
    color: rgba(34, 139, 34, 0.85); /* subdued green */
}

.posIndicator[data-content='▼'] {
    color: rgba(220, 53, 69, 0.85); /* subdued red */
}

.top {
    width: 10px;
    padding-left: 0;
}

.lastPlayedColumn {
    white-space: nowrap;
    font-size: 0.8em;
    line-height: 1;
    font-weight: bolder
}

@media (max-width: 30em) {
    .posIndicator {
        position: sticky;
        left: 0px;
        z-index: 3;
        width: 40px;
        min-width: 40px;
        background: var(--mantine-color-body);
        opacity: 1;
    }
    .top {
        position: sticky;
        left: 40px;
        z-index: 3;
        width: 40px;
        min-width: 40px;
        background: var(--mantine-color-body);
    }
    .name {
        position: sticky;
        left: 80px;
        z-index: 3;
        background: var(--mantine-color-body);
    }
}
