{
    "semi": false,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}
