.header {
    height: rem(56px);
    margin-bottom: rem(10px);
    background-color: var(--mantine-color-dark-8);
    border-bottom: rem(1px) solid var(--mantine-color-dark-4);
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-dark-2);
    font-family: var(--mantine-font-family-headings);
    font-size: rem(13px);
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @mixin hover {
        background-color: var(--mantine-color-dark-6);
    }

    [data-mantine-color-scheme] &[data-active] {
        color: var(--mantine-color-white);
        font-weight: 600;
        box-shadow: inset 0 -2px 0 var(--mantine-color-blue-4);
    }
}

