#root {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.card {
    padding: 2em;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mantine-Table-th {
	text-align: center;
}
